---
const PAGE_TITLE_ID = "_top";
import type { Props } from "@astrojs/starlight/props";
---

<div class="page-title-container">
  <div class="left">
    <h1 id={PAGE_TITLE_ID}>{Astro.props.entry.data.title}</h1>
    <span>{Astro.props.entry.data.original}</span>
  </div>
  <dl class="right">
    {
      Astro.props.entry.data.attrs &&
        Astro.props.entry.data.attrs.map(({ key, value }) => (
          <>
            <dt>{key}</dt>
            <dd>{value}</dd>
          </>
        ))
    }
    {
      Astro.props.entry.data.source && (
        <>
          <dt>Источник:</dt>
          <dd>
            <a href={`/sources/${Astro.props.entry.data.source.toLowerCase()}`}>
              {Astro.props.entry.data.source}
            </a>
          </dd>
        </>
      )
    }
  </dl>
</div>
<style>
  h1 {
    font-size: var(--sl-text-h1);
    line-height: var(--sl-line-height-headings);
    font-weight: 600;
    color: var(--sl-color-white);
  }
  span {
    font-size: var(--sl-text-h5);
    color: var(--sl-color-gray-4);
  }
  div.page-title-container {
    display: flex;
    justify-content: space-between;
  }
  .left {
    margin-top: 1rem;
  }
  .right {
    align-self: flex-end;
  }
  .right dt {
    font-weight: 600;
  }
  .right dd {
    margin-left: 0.3rem;
  }
</style>
