---
const PAGE_TITLE_ID = "_top";
import type { Props } from "@astrojs/starlight/props";
import BadgeLink from "@/components/BadgeLink.astro";

const { title, original, category, attrs, source } = Astro.props.entry.data;
---

<div class="page-title-container">
  <div class="left">
    <h1 id={PAGE_TITLE_ID} transition:name={title}>
      {title}
    </h1>
    <span>{original}</span>
  </div>

  <div class="right">
    {
      category && (
        <span class="text-lg font-medium text-gray-400">{category}</span>
      )
    }
    <dl data-pagefind-ignore="all">
      {
        attrs &&
          attrs.map(({ key, value }) => (
            <>
              <dt>{key}</dt>
              <dd>{value}</dd>
            </>
          ))
      }
      {
        source && (
          <>
            <dt>Источник:</dt>
            <dd>
              <BadgeLink
                href={`/sources/${source.code.toLowerCase()}`}
                title={source.code}
                tooltip={source.title}
              />
            </dd>
          </>
        )
      }
    </dl>
  </div>
</div>
<style>
  h1 {
    font-size: var(--sl-text-h1);
    line-height: var(--sl-line-height-headings);
    font-weight: 600;
    color: var(--sl-color-white);
  }
  span {
    font-size: var(--sl-text-h5);
    color: var(--sl-color-gray-4);
  }
  div.page-title-container {
    display: flex;
    justify-content: space-between;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  .right dt {
    font-weight: 600;
    justify-self: flex-end;
  }
  .right dd {
    margin-left: 0.3rem;
  }
</style>
